
.depoimentosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 10rem;
}

.headerTitle {
  padding: 2rem;
  font-size: 1rem;
}

.cardContainer {
  text-align: center;
}

.cardDescription {
  font-size: 1.1rem;
  color: rgb(60, 57, 57);
  padding: 2rem;
}

.fotolivros {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-left: auto; /* Add this line to center the image horizontally */
  padding: 2%;
  margin-right: 25%;
  margin-top: 25px;
}

.fotopodcast {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-left: auto; /* Add this line to center the image horizontally */
  padding: 2%;
  margin-right: 25%;
  margin-top: 25px;
}

.fotoaplicativos {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-left: auto; /* Add this line to center the image horizontally */
  padding: 2%;
  margin-right: 25%;
  margin-top: 25px;
}

a {
  color: #fbfcfe; /* Define a cor do link */
  text-decoration: none; /* Remove o sublinhado padrão do link */
  margin: 10px;
}
a:hover {
  text-decoration: underline; /* Sublinha o link quando o mouse está sobre ele */
  margin-bottom:10px;
  
}

button{
    background-color:#DA70D6;
    border: none;
    padding: .5rem;
    border-radius: 8px;
    padding-left: 10px
}

p {
  font-size: 1rem;
  color: rgb(60, 57, 57);
  font-family: sans-serif;
  margin-bottom: 10px;
  padding-left: 10px;
}

h3 {
  padding: 1rem;
  font-size: 1.9rem;
  color: #dfbd57;
}

h4 {
  font-size: 22px;
  color: #6a1543;
  padding-left: 10px;
  font-family: sans-serif;
  padding-bottom: 0.6rem;
}

.Containerprincipal{
  width: 80%;
  margin: 0 auto; 
}

