
.footerContainer {
  background-color: #FADA77;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footerContent {
  color: rgb(60, 57, 57);
  font-size: 1rem;
}

/* Estilos para o novo container de ícones */
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para os ícones */
.icon {
  font-size: 1.3rem;
  cursor: pointer;
  color:chocolate;
}

