.headerContainer {
  background-color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem;
  position: relative; /* Adiciona esta propriedade para o posicionamento correto dos elementos filhos */
}

.headerTitle {
  z-index: 1;
  padding: 10px;
  text-align: center;
  font-family:Helvetica;
  font-size: 24px;
}
.headerImage {
  width: 120%; /* Definimos a largura da imagem como 100% para ocupar todo o espaço disponível */
  position: relative; /* Estabelecemos o posicionamento relativo para controlar a posição da imagem */
  top: -10px; /* Ajuste o valor para a quantidade de deslocamento vertical desejada */
  margin-top: -15%;
}
/* Estilos para dispositivos grandes (desktop) */
@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}

/* Estilos para dispositivos pequenos (celular ou tablet) */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
}

