.menuContainer {
  background-color:#FADA77 ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 0rem;
  list-style: none;
}

.menuLink {
  text-decoration: none;
  color: rgb(60, 57, 57);
  font-size: 1.1rem;
  font-family:Helvetica;
  padding: 2rem;
}

/* Estilos para dispositivos grandes (desktop) */
@media screen and (min-width: 768px) {
  .container {
    padding: 40px;
  }
}
/* Estilos para dispositivos pequenos (celular ou tablet) */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
}